{% extends "skeleton.html" %}
{% block body %}

<a href="/vipupgradelist">See Needed Upgrade Vips</a><br />
<a href="/viplist">See Active Vips</a><br /><br />

<table>
    <style>
        div.maxwidth
        {
            overflow: hidden;
            width: 180px;
        }
        tr.grey
        {
            background-color:#AAAAAA;
        }
    </style>
    <tr>
        <h2>Tier 1 Subscriptions</h2>
    </tr>
    <tr>
        <table class="order" width="950">
            <tr>
                <th width="180">VIP Email</th>
                <th width="150">Forum Name</th>
                <th width="100">Subscription</th>
                <th width="150">VIP Ended</th>
                <th ALIGN=CENTER width="80">Cancel</th>
                <th ALIGN=CENTER width="80">Refund</th>
            </tr>
            {% for tVip in Tier1 %}
                <tr class="{% cycle '' 'grey'%}">
                    <td><div class="maxwidth"><a href="/vip?key={{ tVip.0.key }}">{{ tVip.0.subscriberEmail }}</a></div></td>
                    <td>{{ tVip.0.subscriberForumName }}</td>
                    <td><a href="/vipsubscription?key={{ tVip.1.key }}">Current Sub</a></td>
                    <td>{{ tVip.1.subscriptionEnd|date:"d M - H:i" }}</td>
                    <td ALIGN=CENTER width="80"><a class="ajax" href="/vipcancel" data-key="{{ tVip.1.key }}">Cancel</a></td>
                    <td ALIGN=CENTER width="80"><a class="ajax" href="/viprefund" data-key="{{ tVip.1.key }}">Refund</a></td>
                </tr>
            {% endfor %}
        </table>
    </tr>
    <tr>
        <h2>Tier 2 Subscriptions</h2>
    </tr>
    <tr>
        <table class="order" width="950">
            <tr>
                <th width="180">VIP Email</th>
                <th width="150">Forum Name</th>
                <th width="100">Subscription</th>
                <th width="150">VIP Ended</th>
                <th ALIGN=CENTER width="80">Cancel</th>
                <th ALIGN=CENTER width="80">Refund</th>
            </tr>
            {% for tVip in Tier2 %}
                <tr class="{% cycle '' 'grey'%}">
                    <td><div class="maxwidth"><a href="/vip?key={{ tVip.0.key }}">{{ tVip.0.subscriberEmail }}</a></div></td>
                    <td>{{ tVip.0.subscriberForumName }}</td>
                    <td><a href="/vipsubscription?key={{ tVip.1.key }}">Current Sub</a></td>
                    <td>{{ tVip.1.subscriptionEnd|date:"d M - H:i" }}</td>
                    <td ALIGN=CENTER width="80"><a class="ajax" href="/vipcancel" data-key="{{ tVip.1.key }}">Cancel</a></td>
                    <td ALIGN=CENTER width="80"><a class="ajax" href="/viprefund" data-key="{{ tVip.1.key }}">Refund</a></td>
                </tr>
            {% endfor %}
        </table>
    </tr>
    <tr>
        <h2>Tier 3 Subscriptions</h2>
    </tr>
    <tr>
        <table class="order" width="950">
            <tr>
                <th width="180">VIP Email</th>
                <th width="150">Forum Name</th>
                <th width="100">Subscription</th>
                <th width="150">VIP Ended</th>
                <th ALIGN=CENTER width="80">Cancel</th>
                <th ALIGN=CENTER width="80">Refund</th>
            </tr>
            {% for tVip in Tier3 %}
                <tr class="{% cycle '' 'grey'%}">
                    <td><div class="maxwidth"><a href="/vip?key={{ tVip.0.key }}">{{ tVip.0.subscriberEmail }}</a></div></td>
                    <td>{{ tVip.0.subscriberForumName }}</td>
                    <td><a href="/vipsubscription?key={{ tVip.1.key }}">Current Sub</a></td>
                    <td>{{ tVip.1.subscriptionEnd|date:"d M - H:i" }}</td>
                    <td ALIGN=CENTER width="80"><a class="ajax" href="/vipcancel" data-key="{{ tVip.1.key }}">Cancel</a></td>
                    <td ALIGN=CENTER width="80"><a class="ajax" href="/viprefund" data-key="{{ tVip.1.key }}">Refund</a></td>
                </tr>
            {% endfor %}
        </table>
    </tr>
    <tr>
        <h2>Tier 4 Subscriptions</h2>
    </tr>
    <tr>
        <table class="order" width="950">
            <tr>
                <th width="180">VIP Email</th>
                <th width="150">Forum Name</th>
                <th width="100">Subscription</th>
                <th width="150">VIP Ended</th>
                <th ALIGN=CENTER width="80">Cancel</th>
                <th ALIGN=CENTER width="80">Refund</th>
            </tr>
            {% for tVip in Tier4 %}
                <tr class="{% cycle '' 'grey'%}">
                    <td><div class="maxwidth"><a href="/vip?key={{ tVip.0.key }}">{{ tVip.0.subscriberEmail }}</a></div></td>
                    <td>{{ tVip.0.subscriberForumName }}</td>
                    <td><a href="/vipsubscription?key={{ tVip.1.key }}">Current Sub</a></td>
                    <td>{{ tVip.1.subscriptionEnd|date:"d M - H:i" }}</td>
                    <td ALIGN=CENTER width="80"><a class="ajax" href="/vipcancel" data-key="{{ tVip.1.key }}">Cancel</a></td>
                    <td ALIGN=CENTER width="80"><a class="ajax" href="/viprefund" data-key="{{ tVip.1.key }}">Refund</a></td>
                </tr>
            {% endfor %}
        </table>
    </tr>
</table>
{% endblock %}